:root {
  --color-light-grey: #D3D3D3;
}

ul {
  list-style: none;
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  
}

li {
    padding: 30px;
    display: flex;
    font-size: 30px;
    justify-content: center;
    flex-wrap: wrap;
    height: 300px;
    width: 180px;
    font-weight: bold;
    background-color: var(--color-light-grey);
    border: 2px solid grey;
    border-radius: 10px;
}

li span {
    height: 300px;
    width: 180px;
    background-image: url("images/d416199ca6ecdbd0f8a3.png");
    background-size: 250%;
	background-repeat: no-repeat;
}


.i-css {
    background-position: center 15px;
}
.i-html {
    background-position: left 15px;
}
.i-js {
    background-position: right 15px;
}