:root {
    --link-text-color: #ab1c3d;
}

a {
    color: var(--link-text-color);
    text-decoration: none;
    background-image: linear-gradient(var(--link-text-color), var(--link-text-color));
    background-size: 0% 2px;
    background-position: 0% 100%;
    background-repeat: no-repeat;
    transition: background-size ease-in .5s;
}

a:hover {
    text-decoration: none;
    background-size: 100% 2px;
    transition: background-size ease-in .5s;
}
