:root {
    --color-white: #ffffff;
    --color-light-grey: #d3d3d3;
	--color-burgundy: #800020;
    --color-dark-grey: #a9a9a9;
}

.toggle {
  position: relative;
  top: 20px;
  left: 20px;
}

.toggle-switch {
  position: absolute;
  left: -10px;
  width: 50px;
  height: 50px;
  background-color: var(--color-white);
  border: solid 2px var(--color-dark-grey);
  border-radius: 50%;
}

.toggle-cb:checked ~ * .toggle-switch {
  position: absolute;
  left: 95px;
}

.toggle-inner {
  position: absolute;
  top: 5px;
  width: 135px;
  height: 40px;
  border: solid 2px var(--color-dark-grey);
  background-color: var(--color-light-grey);
  border-radius: 50px;
}

.toggle-cb:checked ~ * .toggle-inner {
  background-color: var(--color-burgundy);
}

.toggle-inner::before {
  position: absolute;
  color: var(--color-dark-grey);
  font-family: sans-serif;
  font-size: 30px;
  top: 3px;
  left: 60px;
  content: "No";
}

.toggle-cb:checked ~ * .toggle-inner::before {
  content: "Yes";
  left: 30px;
  color: var(--color-white);
}

.toggle-cb {
  display: none;
}